<footer class="footer">
<small>
	<a href="https://ancient-ocean-5584.herokuapp.com">Designed</a>
	by Leikai Ma
</small>
<nav>
	<ul>
		<li><%= link_to "About", about_path %> </li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><a href="https://ancient-ocean-5584.herokuapp.com">News</a></li>
	</ul>
</nav>
</footer>